<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<form action="/users/info" method="post">

    <input type="number" name="id">

    <button type="submit">Submit</button>
</form>
{{#if condition}}

{{/if}}
{{#each list as |alias index|}}

{{/each}}