<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<form action="/users/info" method="post">
    <label for="name"> Name</label>
    <input type="text" name="name">
    <label for="email"> Email</label>
    <input type="email" name="email">
    <label for="password"> Password</label>
    <input type="password" name="password">

    <button type="submit">Submit</button>
</form>


<div>
    {{#each errors}}
    <div>
        {{this.msg}}
    </div>
    {{/each}}
</div>