extends layout

block content
  h1= title
  p Welcome to #{title}
  -var arr =[1,1,2,4,2,9]  //to define variable
  each val in arr
   p=val

  if condition            
    p hello from if statment 
  //- {condition} passed from index.js  
  input(type="text").lola#haha 
  //-  class => .class_name id=> #id



